{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-start">
    <div class="col"></div>
    <div class="col">
      <!-- Form that gets information for the book's search bar and checks with the server's database if exists.
      and if it exists it shows on a different page the outcome of the search -->
      <form class="form-inline" action="{{ url_for('books.books_name') }}" method="POST">
        <div class="input-group">
          <input type="text" class="form-control" name="bookname" placeholder="Search a book">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="col text-right">
      <a class="btn btn-success" href="/books/add_book" role="button">Add a new book!</a>
    </div>
  </div>
</div>
<!-- Shows all books in the library's database -->
<h1>All Books</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {%- for book in books %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{book.bookname}}</h5>
        <p class="card-text">
          Book ID: {{book.id}}
          <br>
          Book author: {{book.author}}
          <br>
          Loan type: {{book.typeofloan}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Book publish date: {{book.publishdate}}</small>
      </div>
      <div>
        <a href="/books/books_del/{{book.id}}">
          <button class="btn btn-danger">Delete</button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}